body {
    background-color: teal;
}

.box {
    border: 1px solid pink;
    width: 100px;
    height: 100px;
    padding: 10px;
    position: absolute;
}

#container {
    background-color: aquamarine;
    padding: 20px;
    width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
    z-index: 0;
}

#boite0 {
    background-color: yellow;
    top: 186px;
    left: 186px;
    z-index: 1;
}

#boite1 {
    background-color: green;
    top: 32px;
    left: 32px;
    z-index: 1;
}

#boite2 {
    background-color: blue;
    top: 64px;
    left: 64px;
    z-index: 3;
    opacity: 0.5;
}

#boite3 {
    background-color: orange;
    top: 154px;
    left: 154px;
    z-index: 2;
}